<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1-0">
      <meta htpp-equiv="X-UA-Compatible" content="ic=edge">
      <title>ROBOT</title>
      <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
      <header>
          <nav>
            <ul class="nav-right-section">
              <li>
              </li>
              <li>
              </li>
                </<a>
              </li>
            </ul>
          </nav>
      </header>
      <main>
        <section class="main-input">
            <img src="https://logo-maker-api.s3.us-west-2.amazonaws.com/projects/5f604ab58dfb181733bc4069/free-file.png?AWSAccessKeyId=AKIA6LFXYJ6BXG4EKM6A&Expires=1600243374&Signature=ZUJSL6ksjdj4I018HuI2fboQh%2Fk%3D&response-content-disposition=attachment%3B%20filename%3DROBOT_free-file.png&response-content-type=application%2Foctet-stream" alt="">
<script async src="https://cse.google.com/cse.js?cx=fba24bb384776306c"></script>
<div class="gcse-search"></div>
        </section>
      </main>
  </body>
</html>
